Report an issue

{{#if issue}}
    <FwFullscreenModal @modal="report-issue" @size="md" @model={{hash
            issue=issue
            fallback=fallback
        }} @close={{action (mut issue)}} @closeOnClick={{false}} />
{{/if}}
