<div class="panel panel-default">
    <header class="panel-heading">
        <strong class="panel-title">{{title}}</strong>
        {{#if showFallback}}
            <br/>
            <a target="_blank" href={{fallback}}> Alternative report issue link </a>
        {{/if}}
    </header>
    <section class="panel-body">
        <FwNotifications @outlet="modal-top" />
        <FwValidatedTextfield @valuePath="title" @model={{issue}} @label="Title" @placeholder="Brief issue description" @update={{action (mut issue.title)}} />

        <div class="row">
            <div class={{dropdownWidth}}>
                <div class="form-group">
                    <label> Status </label>
                    <OneWaySelect @class="form-control" @value={{issue.status}} @options={{statusOptions}} @optionTargetPath="id" @optionLabelPath="name" @update={{action (mut issue.status)}} />
                </div>
            </div>
            <div class={{dropdownWidth}}>
                <div class="form-group">
                    <label> Type </label>
                    <OneWaySelect @class="form-control" @value={{issue.type}} @options={{typeOptions}} @optionTargetPath="id" @optionLabelPath="name" @update={{action (mut issue.type)}} />
                </div>
            </div>

            {{#if extendedOptions}}
                <div class={{dropdownWidth}}>
                    <div class="form-group">
                        <label> Priority </label>
                        <OneWaySelect @class="form-control" @value={{issue.priority}} @options={{priorityOptions}} @optionTargetPath="id" @optionLabelPath="name" @update={{action (mut issue.priority)}} />
                    </div>
                </div>
            {{/if}}
        </div>

        {{#if (and isIssueApp extendedOptions)}}
            <div class="row">
                {{#if (and (eq issue.status "closed") appVersions)}}
                    <div class={{dropdownWidth}}>
                        <div class="form-group">
                            <label>Version</label>
                            <PowerSelect @options={{appVersions}} @selected={{selectedVersion}} @placeholder="" @noMatchesMessage="No results" @onchange={{action "mutVersion"}} @renderInPlace={{true}} @searchField="name" as |version|>
                                {{version.name}}
                            </PowerSelect>
                        </div>
                    </div>
                {{/if}}
                {{#if sortedUsers}}
                    <div class={{dropdownWidth}}>
                        <div class="form-group">
                            <label>Assigned To</label>
                            {{#if issue.assignFallback}}
                                <br>
                                {{issue.assignFallback}}
                                <br>
                            <strong>Change To</strong>
                            {{/if}}
                            <PowerSelect @options={{sortedUsers}} @selected={{issue.assignee}} @placeholder="" @noMatchesMessage="No results" @onchange={{action (mut issue.assignee)}} @renderInPlace={{true}} @searchField="user.nameFull" @allowClear={{true}} as |assignee|>
                                {{#if (not assignee.user)}}
                                    Fallback Credentials
                                {{else}}
                                    {{assignee.user.nameFull}}
                                {{/if}}
                            </PowerSelect>
                        </div>
                    </div>
                {{/if}}
                {{#if sortedFlags}}
                    <div class={{dropdownWidth}}>
                        <div class="form-group">
                            <label>Flags</label>
                            <PowerSelectMultipleWithCreate @options={{sortedFlags}} @selected={{issue.flags}} @onchange={{action (mut issue.flags)}} @oncreate={{action "addFlag"}} @showCreatePosition="bottom" @showCreateWhen={{action "allowNewOption"}} @renderInPlace={{true}} @searchField="name" as |flag|>
                              <FlagDisplay @flag={{flag}} /> {{flag.name}}
                            </PowerSelectMultipleWithCreate>
                        </div>
                    </div>
                {{/if}}
            </div>
        {{/if}}

        <FwValidatedTextarea @valuePath="rawContent" @classes="resize-vertical" @model={{issue}} @label="Content" @placeholder="Full issue" @update={{action (mut issue.rawContent)}} />

        {{#if extendedOptions}}
            <div class="form-group">
                <label>
                    Comments
                    <FwInfoIcon @icon={{if editing "Set to add a private comment detailing the edit" "If set, will add a private comment to the issue after the main content"}} />
                </label>
                <FwTextarea @value={{issue.comment}} @update={{action (mut issue.comment)}} />
            </div>
        {{/if}}
    </section>

    <footer class="panel-footer clearfix">
        <FwPromiseButton @class="btn btn-sm" @buttonIcon="fa-regular fa-floppy-disk" @buttonText="Save" @buttonStyle="primary" @promise={{action "confirm"}} @type="submit" />

        <button class="btn btn-danger btn-sm pull-right" type="button" {{action 'cancel'}}>
            <i class="fa-solid fa-xmark"></i>
            Cancel
        </button>
    </footer>
</div>
